/* @import url(../../index.css); */
/* @import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap"); */

:root {
  /* --color-white: 255 255 255;
  --color-gray: 208 214 249;
  --color-black: 11 13 23; */

  --margin-block: 0.5rem;
  --underline-width: 2px;
  --transition-duration: 0.2s;
}

/* nav * {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
} */

nav {
  display: flex;
  place-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: fit-content;
  height: 100%;
  /* max-width: 55%; */
}

/* nav.background {
  background-color: rgba(256 256 256 / 20%);
  backdrop-filter: blur(8px);
} */

nav.vertical {
  justify-content: start;
  padding: 2rem;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  max-width: 100%;
  height: 100%;
}

nav.vertical li {
  padding-block: 1rem;
  justify-content: start;
  width: 100%;
  height: auto;
  cursor: pointer;
}

/* 
nav > ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  max-width: fit-content;
  height: 100%;
  margin-inline: 0;
  padding-inline: 3rem;
} */

nav li {
  display: flex;
  height: 100%;
  margin-inline: 0;
  padding-inline: 0.25rem;
  padding-block: 0;
  margin-block: 0;
  align-items: center;
  /* padding-block: var(--margin-block); */
  color: rgb(var(--color-white));
  border-bottom: var(--underline-width) solid transparent;
  text-decoration: none;
  list-style: none;
  place-content: center;
  /* transition: all var(--transition-duration) ease-in-out; */
}

li > a,
li > button {
  cursor: pointer;
}

nav:not(.vertical) li > :is(a, button) {
  display: flex;
  place-items: center;
  place-content: center;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  cursor: pointer;
}

nav li > * {
  /* padding-block: calc(var(--margin-block) + var(--underline-width)); */
  width: fit-content;
  height: fit-content;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: rgb(var(--color-white));
  background-color: transparent;
  border: none;
  text-decoration: none;
  /* cursor: pointer; */
  transition: border var(--transition-duration) ease-in-out;
}

nav li > *:focus-visible {
  outline: 2px solid rgba(var(--color-white) / 60%);
  outline-offset: 4px;
}

.tabs li * {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
}

.navs .number {
  margin-inline-end: 0.5rem;
  font-weight: bold;
}

nav li.active {
  cursor: default;
}

:where(.navs, .tabs):not(.vertical) li.active {
  border-block-end: var(--underline-width) solid rgb(var(--color-white));
}

:where(.navs, .tabs):not(.vertical) li:not(.active):hover {
  border-block-end: var(--underline-width) solid rgba(var(--color-white) / 50%);
}

:where(.navs, .tabs).vertical li.active {
  border-inline-end: 4px solid rgb(var(--color-white));
}

:where(.navs, .tabs).vertical li:not(.active):hover {
  border-inline-end: 4px solid rgba(var(--color-white) / 50%);
}

.rounds li {
  display: flex;
  width: 80px;
  aspect-ratio: 1;
  padding: 0;
  border-radius: 50%;
  /* place-content: center; */
  border: 2px solid rgba(var(--color-white) / 30%);
}

.rounds li > :is(a, button) {
  width: 100%;
  height: 100%;
}

/* .rounds li a {
  display: flex;
  place-content: center;
} */

.rounds li .number {
  padding: 0;
  margin-block: auto;
  align-self: center;
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 2px;
  color: inherit;
}

.rounds li.active {
  color: rgba(var(--color-black));
  background-color: rgba(var(--color-white));
  border: 2px solid rgba(var(--color-white));
}

.rounds li:hover {
  border: 2px solid rgba(var(--color-white));
}

nav li > *:focus-visible {
  /* outline: 2px solid rgba(var(--color-white) / 60%); */
  outline-offset: 0;
}

.bullets li {
  display: flex;
  place-content: center;
  width: 15px;
  height: 15px;
  /* aspect-ratio: 1; */
  border-radius: 50%;
  border: none;
  overflow: hidden;
  padding: 0;
}

.bullets li :where(a, button) {
  width: 15px;
  height: 15px;
  padding: 0;
  overflow: hidden;
}

.bullets li:not(.active) {
  background-color: rgba(var(--color-white) / 30%);
}

.bullets li.active {
  background-color: rgba(var(--color-white));
}

.bullets :where(a, button):hover {
  background-color: rgba(var(--color-white) / 60%);
  /* border-color: rgba(var(--color-white) / 60%); */
  /* outline: none;
  border: none; */
}

.bullets :where(a, button):focus-visible {
  background-color: rgba(var(--color-white) / 60%);
  /* outline: white solid 2px;
  outline-offset: 1px; */
}
