:root {
  --menu-background-color: rgba(256 256 256 / 20%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-inline-start: 2rem; */
  /* margin-top: 1rem; */
  height: 6rem;
}

.navbar.desktop {
  margin-inline-start: 3rem;
  margin-top: 2rem;
}

.navbar.tablet {
  margin-inline-start: 2.5rem;
  /* margin-top: 1rem; */
}

.navbar.mobile {
  height: auto;
  margin-inline-start: 2rem;
  margin-top: 2rem;
}

.logo {
  /* margin-inline-start: 2rem; */
  flex-grow: 0;
  /* margin-inline-end: auto; */
}

.menu {
  width: 100%;
  height: 100%;
}

.panel-with-toggler.inline .menu {
  padding-inline: 8vw;
  flex-grow: 1;
  justify-self: end;
}

.panel-with-toggler .menu {
  padding-inline-end: 0;
}

.panel-with-toggler.inline {
  height: 100%;
}

.panel-with-toggler.inline .panel {
  height: 100%;
}

.panel-with-toggler.inline .close-button {
  display: none;
}

.panel-with-toggler.inline .toggler {
  display: none;
}

.panel {
  display: flex;
  background-color: var(--menu-background-color);
  backdrop-filter: blur(8px);
  transition: all 0.25s ease-in-out;
}

.panel-with-toggler:not(.inline) .panel.show {
  inset-inline-end: 0;
}

.panel-with-toggler:not(.inline) .panel {
  --width: 254px;
  flex-direction: column;
  position: fixed;
  width: var(--width);
  inset-block: 0;
  inset-inline-end: calc(-1 * var(--width));

  z-index: 10;
}

.close-button {
  width: 1.5rem;
  height: 1.5rem;
  align-self: end;
  margin: 1.5rem;
  cursor: pointer;
}

.toggler {
  /* display: hidden; */
  width: 2rem;
  margin-inline-end: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.backdrop {
  /* display: none; */
  position: fixed;
  inset: 0;
  z-index: 1;
}

/* :not(.inline) .panel.show .backdrop {
  display: block;
  background: red;
} */

.decoration-line {
  position: relative;
  height: 0;
  flex-grow: 1;
  /* width: 100%; */
  border-block: 1px solid grey;
  margin-inline-start: 5vw;
  margin-inline-end: -3vw;
  z-index: 1;
  background-color: var(--menu-background-color);
}
